.userMenu {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .menuBtn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #40fc72;
    -webkit-box-shadow: 0px 0px 17px -3px #3aff24aa;
    -moz-box-shadow: 0px 0px 17px -3px #3aff24aa;
    box-shadow: 0px 0px 17px -3px #3aff24aa;
    border-radius: 10px;
    background-color: transparent;
    color: #40fc72;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    transition: border-color 300ms ease, color 300ms ease;
  }
  
  .menuBtn:hover,
  .menuBtn:focus {
    color: #40fc72;
    border-color: #3aff24aa;
  }