.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .link {
    color: #40fc72;
    transition: color 300ms ease-in-out;
  }
  
  .link:hover,
  .link:focus {
    color: #3aff24aa;
  }